---
# Only the main Sass file needs front matter (the dashes are needed)
---

@charset "utf-8";

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

// Import Order: Variables → Theme → Custom Styles
@import "custom-variables";
@import "minima";
@import "custom-styles";
